*.class

*.log

*.ctxt

.mtj.tmp/

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*
replay_pid*

__init__.py

C:\Users\arami\Documents\Datei Ablage\DHBW\web eng\OnlyLearns\node_modules
!/node_modules/
